blockquote {
  margin: 0;
}

blockquote {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}
.total-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(2, 140, 246, 0.74);
}
.container,
.progess,
.done {
  border: 1px solid rgb(35, 12, 149);
  height: 100vh;
}
