textarea {
  margin: 0;
}

textarea {
  width: 90%;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}
.total-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(2, 140, 246, 0.74);
}
.container,
.progess,
.done {
  border: 1px solid rgb(35, 12, 149);
  height: 100vh;
}

.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: skyblue;
}

.date-time {
  font-size: 14px;
  color: black;
}
